/* ====================== Restaurant Filtering ====================== */
form {
  background-color: #0079ca;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

fieldset div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

legend {
  width: 100%;
  padding-left: .5rem;
  line-height: 2.25;
  color: white;
  font-weight: normal;
}

select {
  width: calc(50% - 1rem);
  border: 1px solid #fff;
  letter-spacing: 0;
  margin: .5rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

#restaurants-list li {
  position: relative;
  background-color: #fff;
  margin: .5rem 0;
  padding: .5rem;
  text-align: left;
  width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h2 {
  color: #df7800;
  font-weight: 100;
  font-size: 1.15rem;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list h3 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
}

#restaurants-list li a {
  background-color: #ff9922;
  border-bottom: 3px solid #eee;
  color: #3a3a3a;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Favorite Checkbox ====================== */

.fav-label {
  display: block;
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.fav-label i {
  font-size: 4rem;
}

.heart:before {
  content: "♥";
  cursor: pointer;
}

input[type="checkbox"],
.checked {
    display: none;
}

.unchecked {
  color: rgba(125, 125, 125, .7);
  transition: all 200ms;
}

.unchecked:hover {
  color:rgba(125, 125, 125, 1);
  transition: all 200ms;
}

.checked {
  color: rgba(255, 0, 0, .6);
  transition: all 200ms;
}

.checked:hover {
  color: rgba(255, 0, 0, .9);
  transition: all 200ms;
}

input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
}
 
input[type="checkbox"]:checked ~ .unchecked {
    display: none;
}

/* ====================== Media Queries ====================== */

@media only screen and (min-width: 768px) {

  legend {
    width: auto;
    font-size: 1.2rem;
  }

  select {
    width: auto;
    height: 1.85rem;
    flex-grow: 1;
    font-size: 1.2rem;
  }

  #restaurants-list {
    padding: .25rem;
  }

  #restaurants-list li {
    width: calc(50% - .5rem);
    margin: .25rem;
  }

  .fav-label i {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1090px) {
  #restaurants-list li {
    width: calc(25% - .5rem);
  }

  .fav-label i {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1366px) {
  form {
    padding-left: calc((100vw - 1366px) / 2);
    padding-right: calc((100vw - 1366px) / 2);
  }

  #restaurants-list {
    width: 1366px;
    margin: 0 auto;
  }
}